<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-sms-port-dame" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>SMSDAME</name>
  <js-module name="SMSDAME" src="www/SMSDAME.js">
    <clobbers target="cordova.plugins.SMSDAME" />
  </js-module>
  <platform name="android">
  <config-file parent="/*" target="res/xml/config.xml">
    <feature name="SMSDAME">
      <param name="android-package" value="cordova-plugin-sms-port-dame.SMSDAME" />
    </feature>
  </config-file>
  <config-file parent="/*" target="AndroidManifest.xml">
  </config-file>
  <source-file src="src/android/SMSDAME.java" target-dir="src/cordova/plugin/sms/port/dame/SMSDAME" />
</platform>
</plugin>
